<!DOCTYPE html>
<html>
<head>
    <title>Departments</title>
</head>
<body style="background-color:#A3D0D4; font-family:Arial;">
    <h1 align="center">Our Departments</h1>
    <hr style="border:none;height:4px;background-color:#A66999;width:90%;">

    <ul style="column-count:2;">
        <li>Department of Computer Science</li>
        <li>Department of Statistics</li>
        <li>Department of Mathematics</li>
        <li>Department of Economics</li>
        <li>Department of English</li>
        <li>Department of Biomedical</li>
        <li>Department of Physics</li>
        <li>Department of Finance</li>
        <li>Department of Economics</li>
        <li>Department of Chemistry</li>
        <li>Department of Food Technology</li>
        <li>Department of Law</li>
        <li>Department of Design</li>
        <li>Department of IT</li>
        <li>Department of Psychology</li>
        <li>Department of Data Science</li>
        <li>Department of Artificial Intelligence</li>
        <li>Department of Environmental Studies</li>
        <li>Department of Political Science</li>
        <li>Department of Sociology</li>
        <li>Department of Journalism</li>
        <li>Department of Mass Communication</li>
        <li>Department of Philosophy</li>
        <li>Department of Education</li>
        <li>Department of History</li>
        <li>Department of Public Administration</li>
        <li>Department of Social Work</li>
        <li>Department of Biotechnology</li>
        <li>Department of Microbiology</li>
        <li>Department of Animation & Multimedia</li>


    </ul>

    <p><a href="/">← Back to Home</a></p>
</body>
</html>
